<h1>商品一覧（全<%= @items.records.count %>件）</h1>
<div class="container">
  <table class="table">
   <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= attachment_image_tag item, :image, size: "100x100", fallback: "no_image.jpg" %></td>
      <td><%= item.name %></td>
      <td>￥<%= (item.tax_out_price*1.1).round %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>